In [1]:
#######
# IMPORT PACKAGES
#######

import praw
import pandas as pd


# Acessing the reddit api


r = praw.Reddit(client_id="E4TBAGuHsqZbFXXiFgL6YQ",#my client id
                     client_secret="09YZIOa3o46cnK3WbqFTCkgepNPbXg",  #your client secret
                     user_agent="my user agent", #user agent name
                     username = "",     # your reddit username
                     password = "")     # your reddit password

def getSubComments(comment, allComments, verbose=True):
  allComments.append(comment)
  if not hasattr(comment, "replies"):
    replies = comment.comments()
    if verbose: print("fetching (" + str(len(allComments)) + " comments fetched total)")
  else:
    replies = comment.replies
  for child in replies:
    getSubComments(child, allComments, verbose=verbose)


def getAll(r, submissionId, verbose=True):
  submission = r.submission(submissionId)
  submission.comments.replace_more(limit=0) # flatten tree
  comments = submission.comments.list() # all comments
  commentsList = []
  for comment in comments:
    getSubComments(comment, commentsList, verbose=verbose)
  return commentsList



res = getAll(r, "665cyg")

In [2]:
data = []
for comment in res:
    data.append([comment.id, comment.body, comment.parent_id, comment.created_utc])
        
df = pd.DataFrame(data, columns=['id', 'body', 'parent_id','UTC'])
df.head()

,id,body,parent_id,UTC
0,dgglnne,"Just never was brought up to be a vegan, why a...",t3_665cyg,1.492593e+09
1,dgh8cm9,"Wait, why do you specify hard cheese? Is soft ...",t1_dgglnne,1.492625e+09
2,dghbwjq,"Well, I have personal tastes when it comes to ...",t1_dgh8cm9,1.492629e+09
3,dghcq45,Interesting! I'm not actually familiar with th...,t1_dghbwjq,1.492630e+09
4,dghcxhb,They're mostly a British type especially Wensl...,t1_dghcq45,1.492630e+09

In [7]:
# convert to datetime
df['datetime'] = pd.to_datetime(df.UTC,unit='s')
df.head()

,id,body,parent_id,UTC,datetime
0,dgglnne,"Just never was brought up to be a vegan, why a...",t3_665cyg,1.492593e+09,2017-04-19 09:13:59
1,dgh8cm9,"Wait, why do you specify hard cheese? Is soft ...",t1_dgglnne,1.492625e+09,2017-04-19 18:06:53
2,dghbwjq,"Well, I have personal tastes when it comes to ...",t1_dgh8cm9,1.492629e+09,2017-04-19 19:08:49
3,dghcq45,Interesting! I'm not actually familiar with th...,t1_dghbwjq,1.492630e+09,2017-04-19 19:22:48
4,dghcxhb,They're mostly a British type especially Wensl...,t1_dghcq45,1.492630e+09,2017-04-19 19:26:18

In [8]:
df['TopLevel'] = df['parent_id'].str.contains('t1_')
df.head(100)

,id,body,parent_id,UTC,datetime,TopLevel
0,dgglnne,"Just never was brought up to be a vegan, why a...",t3_665cyg,1.492593e+09,2017-04-19 09:13:59,False
1,dgh8cm9,"Wait, why do you specify hard cheese? Is soft ...",t1_dgglnne,1.492625e+09,2017-04-19 18:06:53,True
2,dghbwjq,"Well, I have personal tastes when it comes to ...",t1_dgh8cm9,1.492629e+09,2017-04-19 19:08:49,True
3,dghcq45,Interesting! I'm not actually familiar with th...,t1_dghbwjq,1.492630e+09,2017-04-19 19:22:48,True
4,dghcxhb,They're mostly a British type especially Wensl...,t1_dghcq45,1.492630e+09,2017-04-19 19:26:18,True
...,...,...,...,...,...,...
95,dghfcs9,"agreed. support local, humane farming to show...",t1_dgh7e7m,1.492632e+09,2017-04-19 20:07:16,True
96,dgh6gck,because no one has adequately explained why it...,t3_665cyg,1.492623e+09,2017-04-19 17:34:05,False
97,dgh6tjj,"Well, factory farming is horrible. Its horribl...",t1_dgh6gck,1.492624e+09,2017-04-19 17:40:27,True
98,dgh6wbo,that has nothing to do with eating vegan. the...,t1_dgh6tjj,1.492624e+09,2017-04-19 17:41:47,True
99,dgh7fem,Its bad to not be a vegan because you are eith...,t1_dgh6wbo,1.492624e+09,2017-04-19 17:50:54,True

In [4]:
df = df[['id','body',pent_id,datetime,TopLevel]]
df.to_csv('WhyArentYouVegan.csv')